body{
	margin-left: 0px;
	margin-right: 200px;
}
h3{ 
margin-left: 50px;
margin-top: 50px;
}
.raya {
 	border:2px solid black;
 	margin-top: 20px;
 	width: 80px;
}
img { 
	width: 260px;
	height: 260px;
	opacity: 0.8;
}
.foto {
	width: 260px;
	height: 260px;
	position: relative;
	display: inline-block;
	left: 80px;
	margin: 15px;
}
#nombre {
	position: absolute;
	top: 220px;
	left: 130px;
	color: #06C603;
}
.foto img:hover{
	height: 280px;
	width: 280px;
	opacity: 1;
	background-color: rgba(2104, 83, 35, 0.8);
}